      /*fonts*/
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

      
      /* header section */
/* 
header{
    width: 1440px;
    height: 94px;
} */
.header-section{
    background-color:  #562EFF;
    height: 100px;
    display: flex;
    justify-content:space-around;
 
}
.header-icon{
    display: flex;
    align-items: center;
}
.header-icon span{
    padding-left: 15px;
    color: white;
    font-size: 24px;
}
.header-icon img{
    Width:40.42px;
    Height:51px;
}
.header-list{
    display: flex;
    align-items: center;
}
.header-list a{
    font-size: 16px;
    color: white;      
}
.header-section a{
    text-decoration: none;
    margin-right:40px ;
}
.header-section img{
    width: 51px;
    height: 51px;
}
      /* common style or utilities */
body{
      font-family: 'Poppins', sans-serif;
      background-color: #E5E5E5;
}
main{
      display: flex;
      flex-direction: column;
      align-items: center;
}
.container{
      background-color:#FFFFFF;
      width: 870px;
      padding: 30px;
      border-radius: 5px;
      margin-top: 21px;
     
}
/* top players style */
.top-players{
      margin-bottom: 30px;
}
.section-title{
      color: #562EFF;
      font-size: 24px;
      margin-top: 3px;
}
.players{
      display: grid;
      /* grid-template-columns: repeat(3, 1fr); */
      grid-template-columns: repeat(3, 1fr);
      grid-row-gap: 30px;
}

.player{
      display: flex;
      align-items: center;
}
.player img{
      width: 56px;
      height: 56px;
}
.player-name{
      margin-left: 16px;
      font-size: 18px;
      
}
hr{
      border: 1px solid #D1D1D1;
      margin-bottom: 30px;    
}

            /* top blog style */

.blogs{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 26px;
   
}           
.blog{
      display: flex;
      
}
.blog .thumbnail img{
      width: 177px;
      height: 117px;
}
.blog-info{
      margin-left: 16px;
}
.blog-title{
      font-size: 20px;
}
.blog-author{
      color:#9F9F9F;
      font-size: 16px;
}
.blog-author a{
      text-decoration: none;
      font-size: 16px;
      color: #562EFF;
}
      /* course style */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course{
    background-color: whitesmoke;
    border-radius: 10px;
}
.course .course-banner img{
      width: 224px;
      height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-detail a{
            color: red;
            text-decoration: none;
}
.course-duration{
    background-color:#FF4A60;
    border-radius: 10px;
    font-size: 15px;
}
.fa-star{
    font-size: 12px;
}

.fa-star.empty{
      color: #AEAEAE;
}
.fa-star.filled{
      color: #FFC014;
}
    /* media queries for Pixel 5 */

@media only screen and (max-width:688px) {
    .players, .blogs, .courses{ 
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }
    .container{
        width: 100%;
    }

}
    
        /* ipad Mini templete */

@media only screen and (min-width:688px) and (max-width:992px) {
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(3, 1fr);
    }
}

